---
layout: default
---

<div class="page-header">
  <h1>Home</h1>
</div>

{% for post in paginator.posts %}
<div>
  <h2>
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <br />
    <small>{{ post.date | date: "%b %-d, %Y" }}</small>
  </h2>

  {% if post.content contains '<!--more-->' %}
    {{ post.content | split:'<!--more-->' | first }}
    <p>
      <a href="{{ post.url }}">
        Read full article <i class="fa fa-angle-double-right"></i>
      </a>
    </p>
  {% else %}
    {{ post.content }}
  {% endif %}

</div>
{% endfor %}

<nav>
  <ul class="pager">
    {% if paginator.next_page %}
      <li class="previous"><a href="{{ site.baseurl }}/page{{paginator.next_page}}"><span aria-hidden="true">&larr; Older</span></a></li>
    {% else %}
      <li class="previous disabled"><span aria-hidden="true">&larr; Older</span></li>
    {% endif %}

    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <li class="next"><a href="{{ site.baseurl }}/"><span aria-hidden="true">Newer &rarr;</span></a></li>
      {% else %}
        <li class="next"><a href="{{ site.baseurl }}/page{{paginator.previous_page}}"><span aria-hidden="true">Newer &rarr;</span></a></li>
      {% endif %}
    {% else %}
      <li class="next disabled"><span aria-hidden="true">Newer &rarr;</span></li>
    {% endif %}
  </ul>
</nav>

