<nav class="navbar navbar-default navbar-static-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <i class="fa fa-server"></i> {{ site.title }}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">

        <li class="{% if page.url == "/" + site.baseurl %} active{% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>

        {% assign pages_list = site.pages | sort:"date" %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <li class="{% if page.url == node.url %} active{% endif %}"><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}

        <li><a href="{{ site.url_readrz }}"><i class="fa fa-external-link-square"></i> Readrz.com</a></li>

      </ul>
    </div>

  </div>
</nav>
